<%- include('../shared/includes/head', {pageTitle: 'Available Books'}) %>
<link rel="stylesheet" href="/styles/books.css">
</head>
<body>
  <%- include('../shared/includes/header') %>
  <main>
    <h2>Book Management</h2>
    <a href="/books/management" id="btn-management">Add a Book</a>
    <h1>Available Books</h1>
    <div class="table-container">
    <table id="book-table" class="center-table">
      <thead>
        <tr>
          <th>Cover</th>
          <th>Title</th>
          <th>Authors</th>
          <th>Categories</th>
          <th>Bindings</th> 
          <th>Languages</th>
          <th>Formats</th>
          <th>Details</th>
          <th>Manage Book</th>
        </tr>
      </thead>
      <tbody>
        <% books.forEach((book) => { %>
          <tr class="book-row">
            <td>
              <% if (book.covers && book.covers.length > 0) { %>
                <% book.covers.forEach((cover) => { %>
                  <img src="<%= cover.url %>" alt="Book Cover" class="book-cover">
                <% }) %>
              <% } else { %>
                <span>No Cover Available</span>
              <% } %>
            </td>
            <td><%= book.title %></td>
            <td>
              <% const authors = bookAuthors.filter(ba => ba.bookId === book.id);
                 authors.forEach((author, index) => {
                   if (index > 0) { %>, <% }
                   %><%= author.author.name %>
              <% }); %>
            </td>
            <td><% const categories = bookCategories.filter(bc => bc.bookId === book.id);
                 categories.forEach((category, index) => {
                   if (index > 0) { %>, <% }
                   %><%= category.categorie.name %>
              <% }); %>
            </td>
            <td><%= bindings.find(binding => binding.id === book.bindingId)?.name %></td>
            <td><%= languages.find(language => language.id === book.languageId)?.name %></td>
            <td><%= formats.find(format => format.id === book.formatId)?.name %></td>
            <td><a href="/books/details/<%= book.id %>" id="more-details">More Details</a></td>
            <td><a href="/book/manage/<%= book.id %> " id="update-delete">Update or Delete</a></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    </div>
  </main>
  <%- include('../shared/includes/footer') %>
</body>
